# --- infra ---
POSTGRES_PASSWORD=CDNIE-df03fsdf

# --- telegram ---
TELEGRAM_TOKEN=123456:ABC...
ALLOWED_USER_ID=0

# --- strategie ---
SYMBOLS=BTC/USD,ETH/USD
TIMEFRAME=4h
EMA_LEN=200
ST_LEN=10
ST_MULT=3.0
POLL_SECONDS=120
SIGNAL_TTL_MIN=60

# --- risiko ---
PAPER_CAPITAL=10000
RISK_PCT=1.0
MAX_POSITIONS=2
AUTO_EXIT=true

# --- broker ---
BROKER=paper
KRAKEN_API_KEY=
KRAKEN_API_SECRET=
LIVE_CONFIRM=


Done! Congratulations on your new bot. You will find it at t.me/AINDER_trading_bot. You can now add a description, about section and profile picture for your bot, see /help for a list of commands. By the way, when you've finished creating your cool bot, ping our Bot Support if you want a better username for it. Just make sure the bot is fully operational before you do this.

Use this token to access the HTTP API:
8968610227:AAEOwAHKJ0lL11fLdzLbdpAtqQ99VDnX89w
Keep your token secure and store it safely, it can be used by anyone to control your bot.

For a description of the Bot API, see this page: https://core.telegram.org/bots/api